.player_column_top {
  border-bottom: none;
  font-weight: bolder;
  font-size: large;
}

.player_column_bottom {
  border-top: none;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.header_column {
  font-size: large;
}

.header_column, .points_column {
  border: 1px solid;
  font-weight: bolder;
}

.score_column {
  border-right: 1px solid;
}

.sum_column_top, .sum_column_bottom {
  border-left: 1px solid;
}

.sum_column_bottom {
  border-bottom: 1px solid;
}

table {
  margin: 0 auto;
  width:80%;
  font-size:12px;
  border:1px solid;
  text-align: center;
  table-layout: fixed;
  margin-bottom: 40px;
  color: #0c0118;
}

th {
  border-bottom:1px solid; 
  background-color:#ffd500; 
  height:30px;
}

td {
  height:30px; 
  background: rgba(255, 255, 255, 0.5);
}

.game-button {
  margin: 10px;
}





