.App {
  text-align: center;
}

.title {
  color: aqua;
  text-shadow: -6px 6px 0px #CB00CE;
  font-size: 80px;
}

.btn-primary {
  font-weight: 900 !important;
  color: #272100 !important;
  font-size: 40px !important;
  background-color: #ffd500 !important;
  /* box-shadow: -6px 6px 0px #CB00CE; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
